// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.sidebar-block {
    width: 300px;
    margin-bottom: 30px;
}

.form-create-baste {
    margin-right: 30px;
}

.single-paste {
    margin-right: 100px;
}

.profil-pastes {
    margin-right: 100px;
}
